################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pr1/.vs/pr1/v16
/pr1/.vs/lab10/v16/Server/sqlite3
/pr1/bin/Debug
/pr1/obj/Debug
